/* container.css hoặc global.css */
.glass-container {
    width: 300px;
    height: 100vh;
    color: white;
}

/* lg:grid-cols-2  (>=1024px) */
/* @media (min-width: 1024px) {
  .glass-container {
    grid-template-columns: repeat(2, 1fr);
  }
} */
