.glass-container {
  width: 18%;
  height: 100vh;
  color: white;
  background-color: #162F47;

  border-radius: 0px 0px 10px 0px;
}

.logo-tech {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 5px;
  font-family: 'Orbitron', 'Poppins', sans-serif;

  background: linear-gradient(90deg, #3b82f6, #22c55e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 8px rgba(59, 130, 246, 0.3),
    0 0 16px rgba(34, 197, 94, 0.2);
}

